### Import libraries

In [12]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

### Download data

In [13]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-27 13:30:36--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443...

connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240127T063036Z&X-Amz-Expires=300&X-Amz-Signature=281b734819ef6fe902f0a57eb1d5ccba0594277595d673fbbc3d32f5e7aa9888&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-27 13:30:36--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240127T063036Z&X-Amz-Expires=300&X-Amz-Signature=281b734819ef6fe902f0a57eb1d5ccba0594277595d673fbbc3d32f5e7aa9888&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7,5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz.2’

green_tripdata_2019 100%[===================>]   7,49M  5,53MB/s    in 1,4s

2024-01-27 13:30:39 (5,53 MB/s) - ‘green_tripdata_2019-09.csv.gz.2’ saved [7854533/7854533]

### Read csv file

In [14]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz',nrows=100,compression='gzip')

### Check if it's OK

In [15]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

### Change datatype to TIMESTAMP (need to be added later)

In [16]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

### Print schema

In [17]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

### Create Engine to connect to our DB

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

### Print exactly insertion spell with correct datatypes fro each column

In [19]:
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

### Create iterator to inject data chunk by chunk

In [20]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz',compression='gzip',iterator=True, chunksize=100_000)

### Inject columns names to DB

In [21]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

### Try to inject all data to DB

In [22]:
try: 
	while True:
		t_start = time()
		df = next(df_iter)
		df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
		df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
		df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
		t_end = time()

		print('Insertion done in %.3f seconds' % (t_end - t_start))
except(StopIteration):
	print('Insertion compleat')

Insertion done in 15.083 seconds
Insertion done in 16.030 seconds
Insertion done in 13.617 seconds

/tmp/ipykernel_4832/1669092571.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Insertion done in 14.460 seconds
Insertion done in 6.337 seconds
Insertion compleat

### Add taxi zones file

In [19]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-27 12:22:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.25.86, 52.217.204.168, 52.216.219.96, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.25.86|:443...

connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12,03K  29,4KB/s    in 0,4s

2024-01-27 12:22:39 (29,4 KB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [20]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [21]:
df_zones.head(1)

   LocationID Borough            Zone service_zone
0           1     EWR  Newark Airport          EWR

In [22]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265